/* ----------------
    DEBUG
    ------------- */
.box {
    background-color: rgb(45, 190, 238);
    padding: 10px;
    color: white;
    text-align: center;
    border: 1px solid white;
}

.box-inside {
    background-color: lightgreen;
    padding: 10px;
    color: white;
    text-align: center;
    border: 1px solid rgb(45, 190, 238);
}

.row-inside {
    display: flex;
}

/* ----------------
    RESET
    ------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
}

/* --------------
    CONTAINERS 
    -------------*/
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

/* --------------
    CORE
    ------------- */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 * 2); 
}

.col-3 {
    width: calc(100% / 12 * 3);    /* 25% */
}

.col-4 {
    width: calc(100% / 12 * 4);   /* 33.33% */ 
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6); /* 50% */
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100%);
}